body {
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;

  margin: 0;
  padding-top: 150px;

  /* Smooth gradient */
  background: linear-gradient(135deg, #ffd6e5, #ff5fa2);
  min-height: 100vh;
}

/* Title */
h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Link */
a {
  text-decoration: none;
  color: white;

  background-color: #ff4f9a;
  padding: 10px 20px;
  border-radius: 8px;
}

a:hover {
  background-color: #e63f87;
}
