html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../img/grid.png");
background-size:contain;  
width:956px;
margin: 20px auto;
border: 1px solid #000;  
display:grid;  
grid-template-columns: repeat(5, 1fr); 
grid-template-rows:auto;  
gap:20px;  
padding:20px;  
}

header.primary{
 background: rgba(0, 0, 0, 0.4);
 grid-column-start: 1;
 grid-column-end: 6;
 grid-row-start: 1;
 grid-row-end: 2; 
}

footer.primary{
  background: rgba(0, 0, 0, 0.4);
 grid-column-start: 1;
 grid-column-end: 6;
 grid-row-start:3;
 grid-row-end: 4; 
}

#content{
 grid-column-start: 1;
 grid-column-end: 6;
 grid-row-start:2;
 grid-row-end: 3;
 display:grid; 
 grid-template-columns: subgrid; 
 grid-template-rows: subgrid;  
}

#blog{
  background: rgba(0, 0, 0, 0.6);
 grid-column-start: 1;
 grid-column-end: 5;
 grid-row-start:1;
 grid-row-end: 2; 
}

aside {
 background: rgba(0, 0, 0, 0.3);
 grid-column-start: 5;
 grid-column-end: 6;
 grid-row-start:2;
 grid-row-end: 3; 
}
